.content{
    grid-area: content;
    background-color: #1b0a39;
}
.item {
    color: blueviolet;
}

.logo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.item2{
    color: greenyellow;
}