.app-wrapper {
  display: grid;
  margin: 0 auto;
width: 1fr;
  grid-template-areas:
          "header header"
          "nav content";

  grid-template-rows:145px 1fr ;
  grid-template-columns:2fr 1fr ;
  grid-gap:1px ;
}





